.card-list {
  .cards-conteiner {
    // min-height: 280px;
  }
  margin: 10px;
  &__nav {
    margin-top: 20px;

    display: flex;
    flex-direction: row;

    justify-content: center;
  }
  &__button-update {
    margin-left: 20px;
    width: 6rem;
    background-color: rgb(36, 197, 36);
    color: rgb(255, 255, 255);
  }
}
